@model Final.Entidades.Visita

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>Visita</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.fecha)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.fecha)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.hora_entrada)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.hora_entrada)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.hora_salida)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.hora_salida)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.motivo)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.motivo)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.idvisita">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
